a, a:hover, a:active {color: #50ba51;}
a:visited {color: #025904;}
.rank {width: 10%}
.points {width: 15%}

body {
    background-color: #f2ffe6;
    font-family: Verdana, Helvetica, sans-serif;
}

#thumbnail a {
    align: center;
}

#login_area {
    padding: 10%
}

#sidebar_leaderboards {
    background-color: #5cb85c;
}