a {color: #ffffff;}
a:hover, a:active {color: #f0f0f0;}
a:visited {color: #b4b4b4;}
.rank {width: 10%}
.points {width: 15%}

body {
    background-color: #f2ffe6;
    font-family: Verdana, Helvetica, sans-serif;
}

#thumbnail a {
    align: center;
}

#login_area {
    padding: 10%
}

#sidebar_leaderboards {
    background-color: #5cb85c;
}