.leaderboards-top {background-color: #c9ff99; text-align: center;}

.leaderboards { text-align: center; }
	
.leaderboards-rank {width: 10%}

.leaderboards-pictures {width: 25%}

.leaderboards-points {width: 15%}

a {color: black;}
