<!DOCTYPE html>
{% load rango_template_tags %}
{% load staticfiles %}

<html lang="en">

	<head>
		<title>WordHunt
			{% block title_block %}
			{% endblock %}
		</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- bootstrap CDN obtained from w3schools.com -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<!-- MODIFICATIONS TO THE GRID -->
		<style>
			.col-xs-0-2 {width: 2%;}
			.col-xs-3-8 {width: 33.333%;}
			a {color: #ffffff;}
			a:hover, a:active {color: #f0f0f0;}
			a:visited {color: #b4b4b4;}
		</style>
		
		{% block head_block %}
		{% endblock %}

	</head>

	<body style="background-color: #f2ffe6; font-family: Verdana, Helvetica, sans-serif;">
		<div class="container-fluid">
			<br>

		<!-- Top part: title, login and subpages -->
			<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-9">
                    				<div class="row">
                        				<div class="col-xs-12">
                        					<font size="8"> WordHunt
									{% block page_title_block %}
									{% endblock %}
								</font>
                      				     	</div>
                        			</div>
                    				<div class="row">
                        				<div class="col-xs-12">
                        					<div class="btn-group">
									<button type="button" class="btn btn-success"><a href="{% url 'main' %}">Home</a></button>
									<button type="button" class="btn btn-success"><a href="{% url 'about' %}">About</a></button>
									<button type="button" class="btn btn-success"><a href="{% url 'past' %}">Past Words</a></button>
									<button type="button" class="btn btn-success"><a href="{% url 'leaderboard' %}">Leaderboards</a></button>
									<button type="button" class="btn btn-success"><a href="{% url 'search' %}">Search</a></button>
								</div>
                            				</div>
                        			</div>
					</div>
                    
					<div class="col-xs-3">
						{% if user.is_authenticated %}
						<center>
							<h4><b>{{ user.username }}</b></h4>
							<p> Current competition status:</p>
							{% if user.joined_competition %}
								<p style="color: #5cb85c;"><b>entry submitted</b></p>
							{% else %}
								<p style="color: #d9534f;"><b>entry NOT submitted</b></p>
							{% endif %}
							<button type="button" class="btn btn-success"><a href="{% url 'profile/stats' user.slug %}">Profile</a></button>
							<button type="button" class="btn btn-warning"><a href="{% url 'logout' %}">Logout</a></button>

						{% else %}
						<center>
							<form id="login-form" method="post" action="{% url 'login' user.slug %}">
								{% csrf_token %}
								<input type="text" name="username" value="Username" />
								<br />
								<input type="password" name="password" value="Password" />
								<br />
								<button type="button submit" class ="btn btn-success">Log In</button>
								<button type="button" class ="btn btn-success"><a href="{% url 'register' %}">Register</a></button>
							</form>
						</center>
						{% endif %}
					</div>
				</div>
			</div>
			</div>


		<!-- Main contents of the page and leaderboard-->
			<div class="row">
				<div class="col-xs-8">
					<div class="panel panel-default">
					<div class="panel-body">
						{% block body_block %}
						{% endblock %}
					</div>
					</div>
				</div>
				<div class="col-xs-1 col-xs-0-2">
				</div>
				<div class="col-xs-3 col-xs-3-8">
					<div class="panel panel-default">
					<div class="panel-body">
						<font size="6">Best Hunters</font>
						<table class="table table-bordered">
							<tr style="background-color: #5cb85c;">
								<td style="width: 10%">#</td>
								<td>Name</td>
								<td style="width: 15%">Points</td>
							</tr>

							<tr>
								<td>1.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
							<tr>
								<td>2.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
							<tr>
								<td>3.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
							<tr>
								<td>4.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
							<tr>
								<td>5.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
							<tr>
								<td>6.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
							<tr>
								<td>7.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
							<tr>
								<td>8.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
							<tr>
								<td>9.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
							<tr>
								<td>10.</td>
								<td>USERNAME</td>
								<td>PTS</td>
							</tr>
						</table>
					</div>
					</div>
				</div>
			</div>

		<!-- Bottom part - contact and source -->

			<div class="panel panel-default">
			<div class="panel-body">
				Created by Team A. Thoughts? Contact us!
				<span style="float: right;">Find the source at <a href="https://github.com/Mabufudyne/WordHunt">https://github.com/Mabufudyne/WordHunt</a></span>
			</div>
			</div>
		</div>
	</body>
</html>