<!DOCTYPE html>

<html lang="en">

	<head>
		<title>WordHunt</title>
	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap CDN obtained from w3schools.com -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<!-- jQuery library -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<!-- JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	
	<body style="background-color: #f2ffe6;">
	<div class="container-fluid">
    </br>
	<!-- Top part: title, login and subpages -->
		<div class="panel panel-default">
        <div class="panel-body">
			<div class="row">
				<div class="col-sm-9"><font size="8"> WordHunt</font></div>
				<div class="col-sm-3"><input type="text" name="username" value="Username" style="float: right; margin-right: 25%;"/></br>
                	<input type="password" name="password" value="Password" style="float: right; margin-right: 25%;"/>
                </div>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-success">Home</button>
				<button type="button" class="btn btn-success">About</button>
				<button type="button" class="btn btn-success">Past Words</button>
				<button type="button" class="btn btn-success">Leaderboards</button>
				<button type="button" class="btn btn-success">Search</button>
			</div>
			<button type="button" class ="btn btn-success" style="float: right; margin-right: 4%;">Register</button>
			<a href="https://www.google.co.uk/"><button type="button" class ="btn btn-success" style="float: right; margin-right: 4%;">Log In</button></a>
            </div>
            </div>
            
	<!-- Main contents of the page and leaderboard-->
		<table class="table table-bordered" style="background-color: white;">
		<tr>
		
		<td>
			<font size="20">Main part</font>
		</td>
		
		<td style="background-color: #f2ffe6; width: 10px; border-top-color: #f2ffe6; border-bottom-color: #f2ffe6;">
		</td>
		
		<td style="width: 28%;">
			<font size="6">Best Hunters</font>
			<table class="table table-bordered">
				<tr style="background-color:  #c9ff99; text-color: white;">
					<td style="width: 10%">#</td>
					<td>Name</td>
					<td style="width: 15%">Points</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
				<tr>
					<td>2.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
				<tr>
					<td>3.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
				<tr>
					<td>4.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
				<tr>
					<td>5.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
				<tr>
					<td>6.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
				<tr>
					<td>7.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
				<tr>
					<td>8.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
				<tr>
					<td>9.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
				<tr>
					<td>10.</td>
					<td>USERNAME</td>
					<td>PTS</td>
				</tr>
			</table>
		</td>
		</tr>
		</table>
		
	<!-- Bottom part - contact and source -->
		<div class="panel panel-default">
        <div class="panel-body">
		Created by Team A. Thoughts? Contact us!
		<span style="float: right;">Find the source at <a href="https://github.com/Mabufudyne/WordHunt">https://github.com/Mabufudyne/WordHunt</a></span>
        </div>
        </div>
	</div>	
	</body>

</html>