<!DOCTYPE html>

<html lang="en">

	<head>
		<title>WordHunt</title>
	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap CDN -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<!-- jQuery library -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<!-- JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	
	<body>
    </br>
		<div class="container-fluid">
		<table class="table table-bordered">
		<tr>
		<td>
			<div class="row">
				<div class="col-sm-9"><font size="8"> WordHunt</font></div>
				<div class="col-sm-3"><input type="text" name="username" value="Username" style="float: right; margin-right: 25%;"/></br>
                	<input type="password" name="password" value="Password" style="float: right; margin-right: 25%;"/>
                </div>
			</div>
			<div class="btn-group">
				<button type="button" class="btn">Home</button>
				<button type="button" class="btn">About</button>
				<button type="button" class="btn">Past Words</button>
				<button type="button" class="btn">Leaderboards</button>
				<button type="button" class="btn">Search</button>
			</div>
			<button type="button" class ="btn" style="float: right; margin-right: 4%;">Register</button>
			<a href="https://www.google.co.uk/"><button type="button" class ="btn" style="float: right; margin-right: 4%;">Log In</button></a>

		</td>
		</tr>
		</table>
		</div>
	</body>

</html>