{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
	- Leaderboards
{% endblock %}

{% block head_block %}
	<link href="{% static 'css/leaderboards_style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
	<h1 class="lineheight">All Time Leaderboards</h1>
	<br />

	<table class="table table-bordered">
		<tr class="leaderboards-top">
			<td class="leaderboards-rank"><center>Rank</center></td>
			<td><center>Name</center></td>
			<td class="leaderboards-pictures"><center>Number of Pictures Uploaded</center></td>
			<td class="leaderboards-points"><center>Points</center></td>
		</tr>
		{% if results %}
			{% for user, number in results %}
				<tr>
					<td><center>{{user.rank}}</center></td>
					<td><a href="{% url 'stats' user %}">{{user}}</a></td>
					<td><center>{{number}}</center></td>
					<td><center>{{user.total_points}}</center></td>
				</tr>
			{% endfor %}
		{% endif %}
	</table>

	<a href="{% url 'main' %}">Return to the main page</a> 
{% endblock %}