{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
	- Leaderboards
{% endblock %}

{% block head_block %}
{% endblock %}

{% block body_block %}
	<font size=6>Leaderboards</font>
	<br />

	<table class="table table-bordered">
		<tr style="background-color: #c9ff99; text-color: white;">
			<td style="width: 10%"><center>Rank</center></td>
			<td><center>Name</center></td>
			<td style="width: 25%"><center>Number of Pictures Uploaded</center></td>
			<td style="width: 15%"><center>Points</center></td>
		</tr>
		{% if results %}
			{% for user, number in results %}
				<tr>
					<td><center>{{user.rank}}</center></td>
					<td><a href="{% url 'stats' user %}">{{user}}</a></td>
					<td><center>{{number}}</center></td>
					<td><center>{{user.total_points}}</center></td>
				</tr>
			{% endfor %}
		{% endif %}
	</table>

<!-- USING AJAX(?). First check if there is more than 20 users. If yes create a pagination button and when clicked reload user data starting from the next group-->
	<center>
		<ul class="pagination">
			<li><a href="PART 1">1</a></li>
			<li><a href="PART 2">2</a></li>
			<li><a href="PART 3">3</a></li>
			<li><a href="PART 4">4</a></li>
			<li><a href="PART 5">5</a></li>
		</ul>
	</center>

	<a href="{% url 'main' %}">Return to the main page</a> 
{% endblock %}