{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}

{% block body_block %}
	<div class="row">
		<div class="col-xs-8">
			<font size=6>Current Word: {{ word }}</font>
		</div>
		<div class="col-xs-4">
			<div style="font-size: 15px; float: right;">Ends in: {{ hours_left }} hours, {{ minutes_left }} minutes</div>
		</div>
	</div>
	<hr>
	<div class="row">
		{% for image in images %}
			<div class="col-xs-4">
				<img class="float-left" src="{{ MEDIA_URL}}{{ image.uploaded_image }}" alt="Image for competition {{word}}" style="max_height: 300px; max_width: 300px; width: 100%; height: 100%; padding: 5%"/>
				<center>
				{{image.user}}
				</center>
			</div>
		{% endfor %}
	</div>
{% endblock %}