{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}

{% block head_block %}
	<link href="{% static 'css/main_style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
	<div class="row">
		<div class="col-xs-8">
			<h1 class="lineheight">Current Word: {{ word }}</h1>
		</div>
		<div class="col-xs-4">
			<div style="font-size: 15px; float: right;">Ends in: {{ hours_left }} hours, {{ minutes_left }} minutes</div>
		</div>
	</div>
	<hr>
	<!-- show the images in a rectangular box to keep the correct layout of the page -->
	{% for row in image_rows %}
		<div class="row">
			{% for image in row %}
			<div class="col-md-4">
				<div class="thumbnail">
					<a href="{% url 'word' image.user image.related_word %}">
						<div class="ratio" style="background-image:url('{{ MEDIA_URL}}{{ image.uploaded_image }}')">
						</div>
					</a>
					<center>
						<a href="{% url 'stats' image.user %}">{{image.user}}</a>
					</center>
				</div>
			</div>
			{% endfor %}
		</div>
	{% endfor %}

{% endblock %}