{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}

{% block body_block %}
	<div class="row">
		<div class="col-xs-8">
			<font size=6>Current Word: {{ word }}</font>
		</div>
		<div class="col-xs-4">
			<div style="font-size: 15px; float: right;">Ends in: X hours, Y minutes</div>
		</div>
	</div>
	<hr>
	<table style="width: 100%; height: 480px">
		<tr>
			<td>Picture 1</td>
			<td>Picture 2</td>
			<td>Picture 3</td>
			<td>Picture 4</td>
		</tr>
		<tr>
			<td>Picture 5</td>
			<td>Picture 6</td>
			<td>Picture 7</td>
			<td>Picture 8</td>
		</tr>
		<tr>
			<td>Picture 9</td>
			<td>Picture 10</td>
			<td>Picture 11</td>
			<td>Picture 12</td>
		</tr>
	</table>
{% endblock %}