{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
	- Leaderboards
{% endblock %}

{% block head_block %}
	<style>
			a {color: black;}
			a:hover, a:active {color: black;}
			a:visited {color: #b4b4b4;}
	</style>
	<script>
		$(document).ready(function(){ $('[data-toggle="tooltip"]').tooltip();});
	</script> 
{% endblock %}

{% block body_block %}
	<font size=6>Past Words</font>
	<br />

	<ul class="list-group">
	{% if competitions %}
		{% for competition in competitions %}
			<a href="{% url 'word' %}"><li class="list-group-item">{{competition.word}}: {{competition.end_date}}<span class="badge">{{competition.pictures_number}}</span></li></a>
		{% endfor %}
	{% endif %}
	</ul>

	<br />
	<a href="{% url 'main' %}">Return to the main page</a> 
{% endblock %}