{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
	- Register
{% endblock %}


{% block body_block %}
	<font size=6>Register</font>
	<br />
			


	<center>
	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'main' %}">Return to the main page</a><br />
	{% else %}
		<p>Create an account to comment on pictures and upload your own to start playing!</p>
		<br />
		<form id="user_form" method="post" action="{% url 'register' %}"
			enctype="multipart/form-data">
			{% csrf_token %}
				{{ user_form.as_p }}
			<button type="button submit" class="btn btn-success">Register</button>
		</form>
	{% endif %}
	</center>

	<a href="{% url 'main' %}">Return to the main page</a> 
{% endblock %}