{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - {{userprofile}} Settings
{% endblock %}

{% block head_block %}
{% endblock %}

{% block body_block %}
    {% if auth == True %}
        <div class="row">
		<!-- nav button to this page inly shows up if the user iewing the profile is the owner of that userprofile -->
			<!-- users profile sub nav bar -->
            <div class="col-xs-4"><h1 class="lineheight">{{userprofile}}'s Profile</h1></div>
            <div class="col-xs-8">
                <span class="right_layout">
                    <ul class="nav nav-tabs">
                        <li><a href="{% url 'stats' userprofile %}">Stats</a></li>
                        <li><a href="{% url 'current' userprofile %}">Current Word</a></li>
                        <li><a href="{% url 'uploads' userprofile %}">Uploaded Images</a></li>
                        <li class="active"><a href="{% url 'settings' userprofile %}">Profile Settings</a></li>
                    </ul>
                </span>
            </div>
        </div>
        <br />
	<center><a href="{% url 'auth_password_change' %}"><button type="button" class="btn btn-success">Change Password</button></a></center>
	{% endif %}
  
{% endblock %}

