{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- {{userprofile}} Profile
{% endblock %}

{% block head_block %}
	<link href="{% static 'css/userMain_style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
	<div class="row">
		<!-- users profile sub nav bar -->
		<div class="col-xs-4"><h1 class="lineheight">{{userprofile}}'s Profile</h1></div>
		<div class="col-xs-8">
			<span class="right_layout">
				<ul class="nav nav-tabs">
					<li class="active"><a href="{% url 'stats' userprofile %}">Stats</a></li>
					<li><a href="{% url 'current' userprofile %}">Current Word</a></li>
					<li><a href="{% url 'uploads' userprofile %}">Uploaded Images</a></li>
					{% if user == userprofile.user %}
						<li><a href="{% url 'settings' userprofile %}">Profile Settings</a></li>
					{% endif %}
				</ul>
			</span>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-6">
		<!--stats -->
			<table class="table_style">
				<tr>
					<td>Total Rank: </td>
					<td>#{{userprofile.rank}}</td>
				</tr>
				<tr>
					<td>Current Competition Rank: </td>
					<td>{% if userprofile.currently_participates %}
							#{{userprofile.competition_rank}}
						{% else %}
							NONE
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>Total Pictures Uploaded: </td>
					<td>{{images_number}}</td>
				</tr>
				<tr>
					<td>Total Points: </td>
					<td>{{userprofile.total_points}}</td>
				</tr>
				<tr>
					<td>Competitions Won: </td>
					<td>{% if userprofile.competitions_won == None %}
							<p>0</p>
						{% else %}
							{{userprofile.competitions_won}}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>Pictures Rated: </td>
					<td>{{rated}}</td>
				</tr>
				<tr>
					<td>Pictures Commented: </td>
					<td>{{commented}}</td>
				</tr>
				<tr>
					<td>Average Picture Rating: </td>
					<td>{{average}}</td>
				</tr>
				<tr>
					<td>Best Picture Rating: </td>
					<td>{{best_rating}}</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-6">
		<!-- show the best picture if the user has uploaded any -->
			{% if images_number != 0 %}
				<h3>Best rated picture: </h3>
				<div class="thumbnail">
					<div class="ratio" style="background-image:url('{{ MEDIA_URL }}{{best_picture}}')" alt="{{userprofile}}'s best picture">
					</div>
				</div>
			{% else %}
				<center><h3>This user has not posted any pictures</h3></center>
			{% endif %}
		</div>
	</div>
	<a href="{% url 'main' %}">Return to the main page</a> 
{% endblock %}