{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
	- {{userprofile}} Uploads
{% endblock %}

{% block head_block %}
{% endblock %}

{% block body_block %}
	<div class="row">
		<div class="col-xs-4"><font size=6>{{userprofile}}'s Profile</font></div>
		<div class="col-xs-8">
			<span style="float: right; margin-right: 5%">
				<ul class="nav nav-tabs">
					<li><a href="{% url 'stats' userprofile %}">Stats</a></li>
					<li><a href="{% url 'current' userprofile %}">Current Word</a></li>
					<li class="active"><a href="{% url 'uploads' userprofile %}">Uploaded Images</a></li>
					{% if user == userprofile.user %}
						<li><a href="{% url 'settings' userprofile %}">Profile Settings</a></li>
					{% endif %}
				</ul>
			</span>
		</div>
	</div>
	<div class="row">
		{% for image in images %}
			<div class="col-xs-4">
				<a href="{% url 'word' image.user image.related_word %}"><img class="float-left" src="{{ MEDIA_URL}}{{ image.uploaded_image }}" alt="Image for competition {{word}}" style="max_height: 300px; max_width: 300px; width: 100%; height: 100%; padding: 5%"/></a>
				<center>
				<a href="{% url 'stats' image.related_word %}">{{image.related_word}}</a>
				</center>
			</div>
		{% endfor %}
		{% if images|length == 0 %}
			<div class="col-xs-12">
				<center><p>There are no pictures to display</p></center>
			</div>
		{% endif %}
	</div>

<!-- USING AJAX(?). First check if there is more than 12 pictures. If yes create a pagination button and when clicked reload pictures starting from the next group-->
			
	<center>
		<ul class="pagination">
			<li><a href="PART 1">1</a></li>
			<li><a href="PART 2">2</a></li>
			<li><a href="PART 3">3</a></li>
			<li><a href="PART 4">4</a></li>
			<li><a href="PART 5">5</a></li>
		</ul>			
	</center>

	<a href="{% url 'main' %}">Return to the main page</a> 
{% endblock %}
