{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- {{userprofile}} Current
{% endblock %}
{% block head_block %}
	<style>
			a {color: black;}
			a:hover, a:active {color: black;}
			a:visited {color: #b4b4b4;}
	</style>
{% endblock %}

{% block body_block %}
	<div class="row">
		<div class="col-xs-4"><font size=6>{{userprofile}}'s Profile</font></div>
		<div class="col-xs-8">
			<span style="float: right; margin-right: 5%">
				<ul class="nav nav-tabs">
					<li><a href="{% url 'stats' userprofile %}">Stats</a></li>
					<li class="active"><a href="{% url 'current' userprofile %}">Current Word</a></li>
					<li><a href="{% url 'uploads' userprofile %}">Uploaded Images</a></li>
					<li><a href="{% url 'settings' userprofile %}">Profile Settings</a></li>
				</ul>
			</span>
		</div>
	</div>
	<br />
			<font size=4><center>The current word is: {{word}}</center></font>
			<br>

		{% if userprofile.currently_participates %}
		
					<br>
			<h3><b> PICTURE UPLOADED VIEW</b></h3>
			<span style="margin-left: 2%">Current picture rating: {{image.avg_rating}}</span><br>
			<span style="margin-left: 2%">Current competition rank: #NUMBER</span><br>
			<br>
			<div class="row">
				<div class="col-xs-6">
					<font size=4><span style="margin-left: 2%">Picture preview</span></font><br>
					PICTURE
				</div>
				<div class="col-xs-6">
					<font size=4><span style="margin-left: 2%">Location preview</span></font><br>
					LOCATION
				</div>
			</div>
			Replace picture (resets rating) 
			<form method="post">
				<center>
					<input type="file" name="pic" accept="image/*">
					<input type="submit">
				</center>
			</form>
			Delete picture (withdraw from competition) <center><button type="button" class="btn btn-danger">Delete</button></center> 
	

		{% else %}

		<font size=3><b>Upload a picture</b></font><br>
			Path
			<center>
				<form action="/action_page.php">
					<input type="file" name="pic" accept="image/*">
					<input type="submit">
				</form>
			</center>
			<br>
			<div class="row">
				<div class="col-xs-2">
					Location (optional)
				</div>
				<div class="col-xs-2">
					Latitude
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-xs-2">
					Longitude
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-xs-6">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<div class="checkbox">
						<label><input type="checkbox" value="">Try to obtain location from the picture</label>
					</div>
				</div>
			</div>
		{% endif %}
			<a href="{% url 'main' %}">Return to the main page</a> 
{% endblock %}