{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- {{user}} Profile
{% endblock %}
	<div class="row">
		<div class="col-xs-2"><font size=6>Profile</font></div>
		<div class="col-xs-10">
			<span style="float: right; margin-right: 5%">
				<ul class="nav nav-tabs">
					<li class="active"><a href="{% url 'stats' user %}">Stats</a></li>
					<li><a href="{% url 'current' user %}">Current Word</a></li>
					<li><a href="{% url 'uploads' user %}">Uploaded Images</a></li>
					<li><a href="{% url 'settings' user %}">Profile Settings</a></li>
				</ul>
			</span>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-6">
			<table style="border: none; width: 100%; font-size: 15px;">
				<tr>
					<td style="padding: 5px">Total Rank: </td>
					<td>#{{user.rank}}</td>
				</tr>
				<tr>
					<td style="padding: 5px">Current Competition Rank: </td>
					<td>#NUMBER</td>
				</tr>
				<tr>
					<td style="padding: 5px">Total Pictures Uploaded: </td>
					<td>NUMBER</td>
				</tr>
				<tr>
					<td style="padding: 5px">Total Points: </td>
					<td>{{user.total_point}}</td>
				</tr>
				<tr>
					<td style="padding: 5px">Competetions Won: </td>
					<td>NUMBER</td>
				</tr>
				<tr>
					<td style="padding: 5px">Pictures Rated: </td>
					<td>NUMBER</td>
				</tr>
				<tr>
					<td style="padding: 5px">Pictures Commented: </td>
					<td>NUMBER</td>
				</tr>
				<tr>
					<td style="padding: 5px">Average Picture Rating: </td>
					<td>NUMBER</td>
				</tr>
				<tr>
					<td style="padding: 5px">Best Picture Rating: </td>
					<td>NUMBER</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-6"><font size=4>Best rated picture: </font><br />PICTURE
		</div>
	</div>
	<a href="{% url 'main' %}">Return to the main page</a> 
{% endblock %}