{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
	- {{user}} Uploads
{% endblock %}


{% block body_block %}

	<div class="row">
		<div class="col-xs-2"><font size=6>Profile</font></div>
		<div class="col-xs-10">
			<span style="float: right; margin-right: 5%">
				<ul class="nav nav-tabs">
					<li><a href="{% url 'stats' user %}">Stats</a></li>
					<li><a href="{% url 'current' user %}">Current Word</a></li>
					<li class="active"><a href="{% url 'uploads' user %}">Uploaded Images</a></li>
					<li><a href="{% url 'settings' user %}">Profile Settings</a></li>
				</ul>
			</span>
		</div>
	</div>
	<table class="table" style="width: 100%; height: 480px">
		<tr>
			<td> PICTURE 1 <br> <center>WORD 1</center> </td>
			<td> PICTURE 2 <br> <center>WORD 2</center> </td>
			<td> PICTURE 3 <br> <center>WORD 3</center> </td>
			<td> PICTURE 4 <br> <center>WORD 4</center> </td>
		</tr>
		<tr>
			<td> PICTURE 5 <br> <center>WORD 5</center> </td>
			<td> PICTURE 6 <br> <center>WORD 6</center> </td>
			<td> PICTURE 7 <br> <center>WORD 7</center> </td>
			<td> PICTURE 8 <br> <center>WORD 8</center> </td>
		</tr>
		<tr>
			<td> PICTURE 9 <br> <center>WORD 9</center> </td>
			<td> PICTURE 10 <br> <center>WORD 10</center> </td>
			<td> PICTURE 11 <br> <center>WORD 11</center> </td>
			<td> PICTURE 12 <br> <center>WORD 12</center> </td>
		</tr>
	</table>

<!-- USING AJAX(?). First check if there is more than 12 pictures. If yes create a pagination button and when clicked reload pictures starting from the next group-->
			
	<center>
		<ul class="pagination">
			<li><a href="PART 1">1</a></li>
			<li><a href="PART 2">2</a></li>
			<li><a href="PART 3">3</a></li>
			<li><a href="PART 4">4</a></li>
			<li><a href="PART 5">5</a></li>
		</ul>			
	</center>

	<a href="{% url 'main' %}">Return to the main page</a> 
{% endblock %}
