{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- {{user}} Current
{% endblock %}
	<div class="row">
		<div class="col-xs-2"><font size=6>Profile</font></div>
		<div class="col-xs-10">
			<span style="float: right; margin-right: 5%">
				<ul class="nav nav-tabs">
					<li><a href="{% url 'stats' user %}">Stats</a></li>
					<li class="active"><a href="{% url 'current' user %}">Current Word</a></li>
					<li><a href="{% url 'uploads' user %}">Uploaded Images</a></li>
					<li><a href="{% url 'settings' user %}">Profile Settings</a></li>
				</ul>
			</span>
		</div>
	</div>
	<br />
			<font size=4><center>The current word is: {{word}}</center></font>
			<br>

		<!--NO PICTURE UPLOADED YET -->
			<font size=3><b>Upload a picture</b></font><br>
			Path
			<center>
				<form action="/action_page.php">
					<input type="file" name="pic" accept="image/*">
					<input type="submit">
				</form>
			</center>
			<br>
			<div class="row">
				<div class="col-xs-2">
					Location (optional)
				</div>
				<div class="col-xs-2">
					Latitude
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-xs-2">
					Longitude
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-xs-6">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-xs-10">
					<div class="checkbox">
						<label><input type="checkbox" value="">Try to obtain location from the picture</label>
					</div>
				</div>
			</div>

		<!-- A PICTURE HAS BEEN UPLOADED -->

			<br>
			<h3><b> PICTURE UPLOADED VIEW</b></h3>
			<span style="margin-left: 2%">Current picture rating: {{image.avg_rating}}</span><br>
			<span style="margin-left: 2%">Current competition rank: #NUMBER</span><br>
			<br>
			<div class="row">
				<div class="col-xs-6">
					<font size=4><span style="margin-left: 2%">Picture preview</span></font><br>
					PICTURE
				</div>
				<div class="col-xs-6">
					<font size=4><span style="margin-left: 2%">Location preview</span></font><br>
					LOCATION
				</div>
			</div>
			Replace picture (resets rating) 
			<form method="post">
				<center>
					<input type="file" name="pic" accept="image/*">
					<input type="submit">
				</center>
			</form>
			Delete picture (withdraw from competition) <center><button type="button" class="btn btn-danger">Delete</button></center> 

		</div>
	</body>
</html>