{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
	- Leaderboards
{% endblock %}

{% block head_block %}
    <script src="{% static 'js/jquery.rateit.min.js' %}"></script>
    <script src="{% static 'js/rate.js' %}"></script>
    <link href="{% static 'css/rateit.css' %}" rel="stylesheet">
    <link href="{% static 'css/viewImage_style.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
	<div class="row">
		<div class="col-xs-10">
			<h1 class="lineheight">{{word}}</h1>
			<p> by <a href="{% url 'stats' profile_user %}">{{ profile_user }}</a>
			</br>
			<a href="{% url 'all' word %}">Go back to all {{ word }} pictures</a>
		</div>
		<div class="col-xs-2">
		<!-- rateing system -->
			<span class="rate"><b>Rate:</b></span></br>
			{% if user.is_authenticated %}
				<div id="{{ image.id }}_rating" class="rateit"
				 data-rateit-mode="font"
				 data-rateit-resetable="false"
				 date-rateit-step="1"
				 data-rateit-value="{{ user_rating }}"
				 data-rateit-readonly="{{ rating_readonly }}"
				 style="font-size:30px">
				</div>
				Average rating: <span id="average_rating"><b>{{ avg_rating }}</b></span>
			{% else %}
				Log in to rate images!
			{% endif %}
		</div>


	</div>
	<div class="row">
	<!-- show the image in the rectangle to keep its correct shape and page layout -->
		 <div class="col-xs-12">
			<div class="thumbnail">
			 	<div class="ratio" style="background-image:url('{{ MEDIA_URL}}{{ image.uploaded_image }}')" alt="Image for competition {{ word }}">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	<!-- map -->
		<div class="col-xs-4">
		<b>Image location</b><br/>
		{% if latitude and longitude %}
			<div id="map"></div>
			<script href="{% static 'js/viewImage_script.js' %}">			  
			</script>
			<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwzxGvPpv2kOYDpBGvU2Nd4n8uhic1sO8&callback=initMap">
			</script>
		{% else %}
			<p>No location provided.</p>
		{% endif %}
		</div>
		<!-- comment section -->
		<div class="col-xs-8">
			<b>Comments</b>
			<div class="media border" style="border: 1px solid black; overflow-y:auto; height:250px; margin-top:0px;">
				<div class="media-body" style="padding: 5px">
				  {% for comment in comments %}
						<h4 class="media-heading">{{ comment.user }} <small><i> on {{ comment.creation_date }} </i></small></h4>
      					<p>- {{ comment.text }}</p>
				  {% endfor %}
				</div>
			</div>
			<br/>
			<!-- only allow logged in users to comment -->
			<div class="row">
				{% if user.is_authenticated %}
					<form class="form-group" id="comment_form" method="POST">
					  {% csrf_token %}
					  <div class="col-xs-10">
						  <input type="text" name="comment" class="form-control" placeholder="Leave a Comment">
					  </div>
					  <div class="col-xs-2">
						  <button type="submit" class="btn btn-default btn-block">Submit</button>
					  </div>
					</form>
				{% else %}
					<a href="{% url 'auth_login' %}">Log in</a> or <a href="{% url 'registration_register' %}">Register</a> to leave comments!
				{% endif %}
			</div>
		</div>
	</div>

	<br/>
	<a href="{% url 'main' %}">Return to the main page</a>
{% endblock %}