{% extends 'WordHuntApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
	- Leaderboards
{% endblock %}

{% block head_block %}
    <script src="{% static 'js/jquery.rateit.min.js' %}"></script>
    <script src="{% static 'js/rate.js' %}"></script>
    <link href="{% static 'css/rateit.css' %}" rel="stylesheet">
   <style>
	  #map {
		height: 250px;
		width: 250px;
	   }
	   .form-inline .form-group input {
			width:140px;
		}
	</style>
{% endblock %}

{% block body_block %}
	<div class="row">
		<div class="col-xs-10">
			<font size=6>{{word}}</font>
			<p> by <a href="{% url 'stats' profile_user %}">{{ profile_user }}</a>
			</br>
			<a href="{% url 'all' word %}">Go back to all {{ word }} pictures</a>
		</div>
		<div class="col-xs-2">
			<span style="margin-right: 10%;"><b>Rate:</b></span></br>
			{% if user.is_authenticated %}
				<div id="{{ image.id }}_rating" class="rateit"
				 data-rateit-mode="font"
				 data-rateit-resetable="false"
				 date-rateit-step="1"
				 data-rateit-value="{{ user_rating }}"
				 data-rateit-readonly="{{ rating_readonly }}"
				 style="font-size:30px">
				</div>
				Average rating: <span id="average_rating"><b>{{ avg_rating }}</b></span>
			{% else %}
				Log in to rate images!
			{% endif %}
		</div>


	</div>
	<div class="row">
		 <div class="col-xs-12">
			 	<img src="{{ MEDIA_URL}}{{ image.uploaded_image }}" alt="Image for competition {{ word }}" style=" width: 100%; padding: 5%"/>
		 </div>
	</div>
	<div class="row">
		<div class="col-xs-4">
		<b>Image location</b><br/>
		{% if latitude and longitude %}
			<div id="map"></div>
			<script>
			  function initMap() {
				var marketLocation = {lat: {{ latitude }}, lng: {{ longitude }} };
				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 4,
				  center: marketLocation
				});
				var marker = new google.maps.Marker({
				  position: marketLocation,
				  map: map
				});
			  }
			</script>
			<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwzxGvPpv2kOYDpBGvU2Nd4n8uhic1sO8&callback=initMap">
			</script>
		{% else %}
			<p>No location provided.</p>
		{% endif %}
		</div>
		<div class="col-xs-8">
			<b>Comments</b>
			<div class="media border" style="border: 1px solid black; overflow-y:auto; height:250px; margin-top:0px;">
				<div class="media-body" style="padding: 5px">
				  {% for comment in comments %}
						<h4 class="media-heading">{{ comment.user }} <small><i> on {{ comment.creation_date }} </i></small></h4>
      					<p>- {{ comment.text }}</p>
				  {% endfor %}
				</div>
			</div>
			<br/>
			<div class="row">
				{% if user.is_authenticated %}
					<form class="form-group" id="comment_form" method="POST">
					  {% csrf_token %}
					  <div class="col-xs-10">
						  <input type="text" name="comment" class="form-control" placeholder="Leave a Comment">
					  </div>
					  <div class="col-xs-2">
						  <button type="submit" class="btn btn-default btn-block">Submit</button>
					  </div>
					</form>
				{% else %}
					Log in to leave comments!
				{% endif %}
			</div>
		</div>
	</div>

	<br/>
	<a href="{% url 'main' %}">Return to the main page</a>
{% endblock %}