<!DOCTYPE html>

<html lang="en">

	<head>
		<title>WordHunt</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- bootstrap CDN obtained from w3schools.com -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<!-- MODIFICATIONS TO THE GRID -->
		<style>
			.col-xs-0-2 {width: 2%;}
			.col-xs-3-8 {width: 33.333%;}
		</style>

	</head>

	<body style="font-family: Verdana, Helvetica, sans-serif;">
		<div class="container-fluid">

			<div class="row">
				<div class="col-xs-10">
					<font size=6>"WORD"</font></br>
					<a href="LINKTOSEARCHWORD">Go back to all "WORD" pictures</a>
				</div>
				<div class="col-xs-2">
					<span style="float: right; margin-right: 10%;">Rate this picture:</br>STARS</span>
				</div>
			</div>
			<br>
			<font size=8>PICTURE HERE</font>
			<br>
			<div class="row">
				<div class="col-xs-4"> Map (will need some help with this part)</div>
				<div class="col-sx-8">
					<div class="media">
						<div class="media-left">
							<div class="media-body">
								<h4 class="media-heading">USERNAME<small> at TIME, DATE:</small></h4>
								<p>COMMENT SHOWN HERE</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left">
								<div class="media-body">
									<h4 class="media-heading">USERNAME<small> at TIME, DATE:</small></h4>
									<p>COMMENT SHOWN HERE</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="2" style="width: 60%;"></textarea>
							<button type="button" class="btn btn-success">Comment</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>